/riot.cachius/.classpath
/riot.cachius/.project
/riot.cachius/.settings/org.eclipse.jdt.core.prefs
/riot.cachius/.settings/org.eclipse.m2e.core.prefs
/riot.cachius/.settings/org.eclipse.wst.common.component
/riot.cachius/.settings/org.eclipse.wst.common.project.facet.core.xml
/riot.common/.classpath
/riot.common/.project
/riot.common/.settings/org.eclipse.jdt.core.prefs
/riot.common/.settings/org.eclipse.m2e.core.prefs
/riot.common/.settings/org.eclipse.wst.common.component
/riot.common/.settings/org.eclipse.wst.common.project.facet.core.xml
/riot.content/.classpath
/riot.content/.project
/riot.content/.settings/org.eclipse.jdt.core.prefs
/riot.content/.settings/org.eclipse.m2e.core.prefs
/riot.content/.settings/org.eclipse.wst.common.component
/riot.content/.settings/org.eclipse.wst.common.project.facet.core.xml
/riot.core/.project
/riot.core/.settings/org.eclipse.jdt.core.prefs
/riot.core/.settings/org.eclipse.m2e.core.prefs
/riot.core/.settings/org.eclipse.wst.common.component
/riot.core/.settings/org.eclipse.wst.common.project.facet.core.xml
/riot.crawler/.classpath
/riot.crawler/.project
/riot.crawler/.settings/org.eclipse.jdt.core.prefs
/riot.crawler/.settings/org.eclipse.m2e.core.prefs
/riot.dbmsgsrc/.classpath
/riot.dbmsgsrc/.project
/riot.dbmsgsrc/.settings/org.eclipse.jdt.core.prefs
/riot.dbmsgsrc/.settings/org.eclipse.m2e.core.prefs
/riot.forms/.classpath
/riot.forms/.project
/riot.forms/.settings/org.eclipse.jdt.core.prefs
/riot.forms/.settings/org.eclipse.m2e.core.prefs
/riot.forms/.settings/org.eclipse.wst.common.component
/riot.forms/.settings/org.eclipse.wst.common.project.facet.core.xml
/riot.jslibs/.classpath
/riot.jslibs/.project
/riot.jslibs/.settings/org.eclipse.jdt.core.prefs
/riot.jslibs/.settings/org.eclipse.m2e.core.prefs
/riot.jslibs/.settings/org.eclipse.wst.common.component
/riot.jslibs/.settings/org.eclipse.wst.common.project.facet.core.xml
/riot.linkcheck/.classpath
/riot.linkcheck/.project
/riot.linkcheck/.settings/org.eclipse.jdt.core.prefs
/riot.linkcheck/.settings/org.eclipse.m2e.core.prefs
/riot.media/.classpath
/riot.media/.project
/riot.media/.settings/org.eclipse.m2e.core.prefs
/riot.media/.settings/org.eclipse.jdt.core.prefs
/riot.media/.settings/org.eclipse.wst.common.component
/riot.media/.settings/org.eclipse.wst.common.project.facet.core.xml
/riot.parent/.project
/riot.parent/.settings/org.eclipse.m2e.core.prefs
/riot.revolt/.classpath
/riot.revolt/.project
/riot.revolt/.settings/org.eclipse.jdt.core.prefs
/riot.revolt/.settings/org.eclipse.m2e.core.prefs
/riot.revolt/.settings/org.eclipse.wst.common.component
/riot.revolt/.settings/org.eclipse.wst.common.project.facet.core.xml
/riot.search/.classpath
/riot.search/.project
/riot.search/.settings/org.eclipse.jdt.core.prefs
/riot.search/.settings/org.eclipse.m2e.core.prefs
/riot.site-search/.classpath
/riot.site-search/.project
/riot.site-search/.settings/org.eclipse.jdt.core.prefs
/riot.site-search/.settings/org.eclipse.m2e.core.prefs
/riot.statistics/.classpath
/riot.statistics/.project
/riot.statistics/.settings/org.eclipse.jdt.core.prefs
/riot.statistics/.settings/org.eclipse.m2e.core.prefs
/riot.statistics/.settings/org.eclipse.wst.common.component
/riot.statistics/.settings/org.eclipse.wst.common.project.facet.core.xml
